h1 {
  font-size: 1.2em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  background-color: rgb(231, 237, 240);
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  border-radius: 2px;
  border-bottom: 2px solid rgb(192, 192, 192);
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
  border-bottom: 2px solid rgb(128, 128, 128);
}
nav a.active {
  color: #039be5;
}